{% extends 'base.html' %}

{% block content %}
<div style="border-radius :1rem; margin: 2rem; text-align: center;">
    <h1 style="font-family: 'Oswald', cursive;">
        testing
    </h1>

    <form action="/account/helloworld/" method="post">
        {% csrf_token %}
        <div>
            <input type="text" name="helloworld_input">
        </div>
        <input type="submit" class="btn btn-primary" value="POST">
    </form>

    {% if helloworld_list %}
        {% for helloworld in helloworld_list %}

    <h4>
        {{ helloworld.text}}
    </h4>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}