<div class="header">
    <!-- margin 상하마진 좌우마진 -->
    <div>
        <h1 style="font-family: 'Oswald'; font-size: 7rem;">ReDjango</h1>   
    </div>
    
    <div>
        <span>nav1</span>
        <span>nav2</span>
        <span>nav3</span>
        {% if user.is_authenticated %}
            <form action="{% url 'accountapp:logout' %}" method="post" style="display:inline">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit" class="btn btn-link p-0 m-0 align-baseline">logout</button>
            </form>
        {% else %}
            <a href="{% url 'accountapp:login' %}?next={{ request.path }}">login</a>
        {% endif %}

    </div>

</div>