<div class="header">
    <!-- margin 상하마진 좌우마진 -->
    <div>
        <h1 style="font-family: 'Oswald'; font-size: 7rem;">ReDjango</h1>   
    </div>
    
    <div>
        <span>nav1</span>
        <span>nav2</span>
        <span>nav3</span>
        {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
            <span>login</span>
        </a>
        {% else %}
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
            <span>logout</span>
        </a>
        {% endif %}
        <span>nav4</span>
    </div>

</div>